<%- include("components/head.ejs") %>

    <%- include("components/header.ejs") %>

        <div class="product-page-grid-container">
            <div>
            <img class="product-page-img" src="<%= pcs[1].img%>" alt="">
            <img class="product-page-policy" src="/images/chinhsach.png" alt="">
            </div>
            <div class="product-page-decision">
                <div class="product-page-name">
                    <p style="font-weight: bold;"><%= pcs[3].ten %></p>
                </div>
                <div class="product-page-price">
                    <p style="font-weight: bold; color: red;"><%= pcs[1].gia %></p>
                </div>
                <p style="height: 200px;" class="product-page-description"><%= pcs[1].mota %></p>
                <div class="product-page-decision-button">
                    <form class="product-page-last-decision" action="/"><button class="product-page-button"
                            type="submit"><img class="product-page-decision-cart-img" height="100%"
                                src="/icons/cart.png" alt=""> Thêm vào giỏ hàng</button></form>
                    <form class="product-page-last-decision" action="/"><button class="product-page-button"
                            type="submit">Mua
                            ngay</button></form>
                </div>
            </div>
        </div>

        <%- include("components/footer.ejs") %>

            <%- include("components/foot.ejs") %>