<%- include("components/head.ejs") %>

    <%- include("components/header.ejs") %>

        <div class="product-cart-flex-container">
            <div class="product-cart-title">
                <p style="font-weight: bold;"><a style="text-decoration: none; color: rgb(160, 1, 1);" href="/"> Trang chủ </a> > Giỏ hàng của bạn</p>
            </div>

            <div class="product-cart-grid-container">
                        <table class="product-cart-table-1">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(item=> { %>
                                    <tr>
                                        <td style="width: 100px; height: auto;">
                                            <%= item.product.ten %>
                                        </td>
                                        <td><img style="height: 150px; width: 150px;" class="product_image_cart" src="<%= item.product.img %>" alt=""></td>
                                        <td>
                                            <div style="display: flex; align-items: center; justify-content: space-between;">
                                                <form style="border: none;" action="/cart/sub/<%= item.product_id %>" method="get">
                                                    <button style="border: none;">
                                                        <img style="height: 15px; width: 15px;" src="/icons/minus.png" alt="">
                                                    </button>
                                                </form>
                                            
                                                <%= item.quantity %>
                                            
                                                    <form style="border: none;" action="/cart/sub/<%= item.product_id %>" method="get">
                                                        <button style="border: none;">
                                                            <img style="height: 15px; width: 15px;" src="/icons/plus.png" alt="">
                                                        </button>
                                                    </form>
                                            </div>
                                        </td>
                                        <td style="color: red; font-weight: bold;">
                                            <%= Number(item.price).toLocaleString('vi-VN') %> <sup>đ</sup>
                                        </td>
                                        <td>
                                            <form action="/cart/delete/<%= item.product_id %>" method="get">
                                                <button type="submit" class="delete-product">Xóa</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>


                <div class="product-cart-payment">
                    <form class="cart-payment-coupon">
                        <input class="cart-payment-coupon-input" type="text" name="" id="" placeholder="Mã giảm giá">
                        <input class="cart-payment-coupon-submit" type="submit" value="Áp dụng">
                    </form>
                    <form action="/payment" method="get" class="cart-payment">
                        <div class="product-cart-table-container">
                            <div>
                                <table class="product-cart-table-2">
                                    <tr>
                                        <td>Tạm tính</td>
                                        <td style="text-align: right; font-weight: bold; color: rgb(142, 138, 138); font-size:medium;">
                                            <%= Number(data.reduce((sum, item)=> Number(sum) + Number(item.price), 0)).toLocaleString('vi-VN')
                                                %> <sup>đ</sup>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá</td>
                                        <td style="text-align: right; font-weight: bold; color: rgb(142, 138, 138); font-size:medium">
                                            0 <sup>đ</sup></td>
                                    </tr>
                                    <tr>
                                        <td>Thành tiền</td>
                                        <td style="font-weight: bold; color: red; text-align: right;">
                                            <%= Number(data.reduce((sum, item)=> Number(sum) + Number(item.price), 0)).toLocaleString('vi-VN')
                                                %>
                                                <sup>đ</sup>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div>
                            <button class="product-cart-payment-button" type="submit">Xác nhận đơn hàng</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>

        <%- include("components/footer.ejs") %>

            <%- include("components/foot.ejs") %>