<%- include("components/head.ejs") %>

    <%- include("components/header.ejs") %>

        <div class="product-title2">
                <p style="font-weight: bold;"><a style="text-decoration: none; color: rgb(160, 1, 1);" href="/"> Trang chủ </a> ><%= product.ten  %></p>
        </div>

        <div class="product-page-grid-container">
            <div>
            <img class="product-page-img" src="<%= product.img%>" alt="">
            <img class="product-page-policy" src="/images/chinhsach.png" alt="">
            </div>
            <div class="product-page-decision">
                <div class="product-page-name">
                    <p style="font-weight: bold; font-size: larger;"><%= product.ten  %></p>
                </div>
                <div class="product-page-price">
                    <p style="font-weight: bold; color: red; font-size: larger;"><%= product.gia %> <sup>đ</sup></p>
                </div>
                <div style="height: 40%;">
                    <p><%= product.mota  %></p>
                </div>
                <div class="product-page-decision-button">
                    <%if(product.soluong>0){%>
                    <form class="product-page-last-decision" action="/cart" method="post">
                        <input type="hidden" id="add_product_data" name="addproduct" value='<%= JSON.stringify(product) %>'>
                        <button class="product-page-button" type="submit">
                            <img class="product-page-decision-cart-img" height="100%" src="/icons/cart.png" alt=""> Thêm vào giỏ hàng
                        </button>
                    </form>

                    <form class="product-page-last-decision" action="/buynow" method="post">
                        <input type="hidden" id="buynow_product_data" name="buynowproduct" value='<%= JSON.stringify(product) %>'>
                        <button class="product-page-button" type="submit">Mua ngay
                        </button>
                    </form>
                    <%}else{%>
                    <form class="product-page-last-decision" action="/"><button disabled class="product-page-button" type="">Sản phẩm đang tạm hết hàng !</button></form>
                    <%}%>    
                </div>
            </div>
        </div>


        <script>
        const message = <%- JSON.stringify(typeof message !== 'undefined' ? message : '') %>;
        if (message.trim() !== '') {
            alert(message);
        }
        </script>



        <%- include("components/footbanner.ejs") %>

        <%- include("components/footer.ejs") %>

            <%- include("components/foot.ejs") %>